
<div class="welcome-page">
    <div class="row jumbotron">
        <div class="col-sm-10">
            <h1>
                <img class="icon" src="~/icon.jpg">
                Καλώς ήρθες στον IT4GOV.IdentityServer
               
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10">
            <h3>
               Ο IT4GOV.IdentityServer είναι ένας OpenID, OAuth2 server application όπου παρέχει υπηρεσίες ταυτοποίησης χρηστών.
                
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <p>
               
            </p>
        </div>
    </div>
</div>
