@{
    ViewBag.Title = "Επικοινωνία";
}
<h2>@ViewBag.Title</h2>


<div class="jumbotron">

    <address>
        <strong>Check my Linkedin account</strong> <br>
        <a href="https://gr.linkedin.com/in/christoscharmatzis">About me</a><br />

    </address>


    <address>
        <strong>ή στείλε μου email.....</strong><br>
        <a href="mailto:xr_xarmatzis@outlook.com">xr_xarmatzis@outlook.com</a>
    </address>

</div>
