@{
    ViewData["Title"] = "Κλείδωμα";
}

<header>
    <h1 class="text-danger">Κλειδώθηκε</h1>
    <p class="text-danger">Αυτός ο λογαριασμός έχει κλειδωθεί, παρακαλώ δοκιμάστε αργότερα.</p>
</header>

